# Configuration file

general {

    ##########################################################################################################
    # client options
    #--------------------------------------------------------------------------------------------------------#
    # Client-side config options
    ##########################################################################################################

    "client options" {
        # Whether to allow multiple overlays to render at the same time
        B:allowMultipleLayers=false

        # What the normal order of buttons (and layers) should be
        S:buttonOrder <
            oreveins
            excavator
            undergroundfluid
            neromantic
            aura_flux
            starlight
         >

        # Whether to enable rendering on minimaps
        B:enableMinimapRendering=true

        # Fluid colors to override in the underground fluid overlay
        # Format: fluid name=RGB color
        S:fluidColorOverrides <
            water=#6B7AF7
            lava=#D14F0C
            conductive_iron=#D4832B
            cryotheum=#00FFFF
            crystalline_alloy=#B9E4EF
            crystalline_pink_slime=#FF66CC
            dark_steel=#1B1B1B
            depleted_leu_235_fluoride_flibe=#4B5E5D
            depleted_tbu_fluoride_flibe=#3E5150
            electrical_steel=#767676
            end_steel=#5A5A9A
            ender=#284D75
            energetic_alloy=#FFAF00
            enrichedlava=#FF8A00
            exhaust_steam=#B2B2B2
            flux_goo=#DAA520
            glowstone=#FFFF66
            helium=#B0E2FF
            helium_3=#C0D9D9
            high_pressure_steam=#D3D3D3
            hot_mercury=#A8A8A8
            hot_spring_water=#76EEC6
            ic2coolant=#66CCFF
            ic2hot_coolant=#FFA07A
            liquiddna=#8B008B
            mica=#F5DEB3
            mutagen=#8A2BE2
            nak=#FFD700
            nitrogen=#99CCFF
            oil=#333333
            primal_metal=#FF4500
            protein=#FF6347
            pulsating_iron=#FF4500
            pyrotheum=#FF6600
            raw_will=#8B0000
            redstone=#FF0000
            redstone_alloy=#CC0000
            soularium=#4B0082
            steam=#C0C0C0
            superium=#FF8C00
            terrestrial=#556B2F
            tungsten=#36454F
            vibrant_alloy=#00FF00
         >

        # Layers to not register
        S:ignoreLayers <
         >

        # Whether to reverse the normal order of buttons
        B:reverseButtonOrder=false

        # Whether to display tooltips for all overlays in the same location.
        B:stackTooltips=true

        gregtech {
            # The color to draw a box around the ore icon with.
            # Accepts either an ARGB hex color prefixed with # or the string 'material' to use the ore's material color
            S:borderColor=#00000000

            # The size, in pixels, of ore icons on the map
            # Min: 4
            # Max: 2147483647
            I:oreIconSize=32

            # The string prepending ore names in the ore vein tooltip
            S:oreNamePrefix=- 

            # The map scale at which displayed ores will stop scaling.
            # Min: 0.1
            # Max: 16.0
            D:oreScaleStop=1.0
        }

        journeymap {
            # Whether to put buttons on a separate toolbar on the right instead of the map type toolbar.
            B:rightToolbar=true
        }

        "xaero's maps" {
            # Which part of the screen to anchor buttons to
            # Valid values:
            # TOP_LEFT
            # TOP_CENTER
            # TOP_RIGHT
            # RIGHT_CENTER
            # BOTTOM_RIGHT
            # BOTTOM_CENTER
            # BOTTOM_LEFT
            # LEFT_CENTER
            S:buttonAnchor=BOTTOM_LEFT

            # Which direction the buttons will go
            # Valid values:
            # VERTICAL
            # HORIZONTAL
            S:direction=HORIZONTAL

            # How horizontally far away from the anchor to place the buttons
            I:xOffset=20

            # How vertically far away from the anchor to place the buttons
            I:yOffset=0
        }

    }

    ##########################################################################################################
    # server options
    #--------------------------------------------------------------------------------------------------------#
    # Server-side config options
    ##########################################################################################################

    "server options" {

        gregtech {
            # Whether to cull cache entries in chunks that nothing generated in.
            # Prevents "phantom veins" from being recorded in, for example, the End void.
            # Can cause veins to not be recorded if they only generated blocks in chunks other than their centers. (i.e. at the edge of end islands)
            # Default: true
            B:cullEmptyChunks=true

            # Whether to cull cache entries in chunks that nothing generated in during retrogen (V1 algorithm only).
            # Will make retrogen take longer!
            # Will also make veins containing only non-gt ores be removed
            # Default: true
            B:cullEmptyChunksRetrogen=true

            # Whether to perform retrogen for the ore vein cache.
            # Default: true
            B:doRetrogen=true

            # Whether to use the V1 retrogen algorithm for retrogen on worlds with 5u-style oregen instead of V2
            # (eg. exactly one vein in the center of each generation chunk)
            # The V2 algorithm is much more accurate and (theoretically) faster, but can still have accuracy issues with veins containing non-gt ore blocks
            # (and does not work with non-5u oregen at the moment, V1 will currently always be used if the oregen pattern is different)
            # Default: False
            B:forceRetrogenV1=false

            # The radius, in blocks, that clicking an ore block will search for veins in.
            # -1 to disable
            # Default: 24
            # Min: 1
            # Max: 2147483647
            I:oreBlockProspectRange=24

            # The radius, in blocks, that picking up a surface rock will search for veins in.
            # -1 to disable.
            # Default: 24
            # Min: 1
            # Max: 2147483647
            I:surfaceRockProspectRange=24
        }

    }

}


