# Configuration file

##########################################################################################################
# blacklist
#--------------------------------------------------------------------------------------------------------#
# Blacklist options for various features
##########################################################################################################

blacklist {
    # Stops listed blocks and entities from being teleposed.
    # Use the registry name of the block or entity. Vanilla objects do not require the modid.
    # If a block is specified, you can list the variants to only blacklist a given state.
    S:teleposer <
        bedrock
     >

    # Stops listed blocks from being transposed.
    # Use the registry name of the block. Vanilla blocks do not require the modid.
    S:transposer <
        bedrock
     >

    # Stops the listed entities from being used in the Well of Suffering.
    # Use the registry name of the entity. Vanilla entities do not require the modid.
    S:wellOfSuffering <
        twilightforest:armored_giant
        twilightforest:giant_miner
        draconicevolution:guardiancrystal
     >
}


##########################################################################################################
# client
#--------------------------------------------------------------------------------------------------------#
# Settings that only pertain to the client
##########################################################################################################

client {
    # Always render the beams between routing nodes.
    # If disabled, the beams will only render while the Node Router is held.
    B:alwaysRenderRoutingLines=false

    # Completely hide spectral blocks from view.
    # If disabled, a transparent block will be displayed.
    B:invisibleSpectralBlocks=true

    # When cycling through slots, the Sigil of Holding will skip over empty slots and move to the next occupied one.
    # If disabled, it will behave identically to the default hotbar.
    B:sigilHoldingSkipsEmptySlots=false
}


##########################################################################################################
# compat
#--------------------------------------------------------------------------------------------------------#
# Compatibility settings
##########################################################################################################

compat {
    # The display mode to use when looking at a Blood Altar.
    # ALWAYS - Always display information.
    # SIGIL_HELD - Only display information when a Divination or Seers sigil is held in either hand.
    # SIGIL_CONTAINED - Only display information when a Divination or Seers sigil is somewhere in the inventory.
    # Valid values:
    # ALWAYS
    # SIGIL_HELD
    # SIGIL_CONTAINED
    S:wailaAltarDisplayMode=SIGIL_CONTAINED
}


##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# General settings
##########################################################################################################

general {
    # Enables extra information to be printed to the log.
    B:enableAPILogging=false

    # Enables extra information to be printed to the log.
    # Warning: May drastically increase log size.
    B:enableDebugLogging=false

    # Enables tier 6 related registrations. This is for pack makers.
    B:enableTierSixEvenThoughThereIsNoContent=true

    # Enables extra information to be printed to the log.
    # Warning: May drastically increase log size.
    B:enableVerboseAPILogging=false
}


##########################################################################################################
# values
#--------------------------------------------------------------------------------------------------------#
# Value modifiers for various features
##########################################################################################################

values {
    # Amount of LP the Coat of Arms should provide for each damage dealt.
    # Min: 0
    # Max: 100
    I:coatOfArmsConversion=20

    # Is Zombie spawn with Imperfect Zombie Ritual should be Blight? (ScallingHealth compat).
    B:imperfectZombieBlight=true

    # Growth added each cycle.
    I:ritualAnimaGrowthAdd=60

    # How fast breeding delay will be reduced when supplied with Vengeful Will.
    D:ritualAnimaGrowthBreedingDescrease=60.0

    # Is animal food will be consumed when supplied with Steadfast Will?.
    B:ritualAnimaGrowthConsumeFood=false

    # Horizontal max dimension of ritual.
    I:ritualAnimaGrowthHorizontal=128

    # Vertical max dimension of ritual.
    I:ritualAnimaGrowthVertical=128

    # Remove Alchemy Array block from top of Master Ritual Stone when performing operation.
    B:ritualCobblestoneConsumeArray=false

    # How reagents changing output of ritual.
    S:ritualCobblestoneModifiers <
        minecraft:prismarine
        minecraft:obsidian
        engineersdecor:gas_concrete
        chisel:concrete_white
        exnihilocreatio:block_endstone_crushed
        tconstruct:slime_grass@1
        contenttweaker:compressed_coral
        extrautils2:decorativesolid@4
        ic2:resource
        exnihilocreatio:block_skystone_crushed
        minecraft:cobblestone
        exnihilocreatio:block_netherrack_crushed
        endreborn:block_lormyte_crystal
        tconstruct:brownstone@1
        tconstruct:soil
        tconstruct:soil@3
        quark:biome_cobblestone@2
        endreborn:block_entropy_end_stone
        quark:elder_prismarine
        minecraft:cobblestone
        minecraft:cobblestone
        minecraft:cobblestone
        minecraft:cobblestone
        minecraft:cobblestone
        minecraft:cobblestone
        tconstruct:soil@5
        tconstruct:soil@2
        immersivepetroleum:stone_decoration
        quark:biome_cobblestone@1
        quark:biome_cobblestone
        immersiveengineering:stone_decoration@5
        tconstruct:slime_grass@8
        quark:slate
     >

    # Horizontal max dimension of ritual.
    I:ritualContaintmentHorizontal=300

    # Vertical max dimension of ritual.
    I:ritualContaintmentVertical=300

    # Fortune level of Crushing ritual when Destructive Will is used.
    I:ritualCrushingFortune=8

    # Horizontal max dimension of ritual.
    I:ritualCrushingHorizontal=63

    # Crushing ritual ticks needed for operation without modifiers.
    D:ritualCrushingTime=10.0

    # Vertical max dimension of ritual.
    I:ritualCrushingVertical=255

    # Volume max of ritual.
    I:ritualCrushingVolume=0

    # Fluid that generated by Lava ritual.
    S:ritualLavaFluid=pyrotheum

    # Blocks and how they change radius of the ritual. Format: 'radius;mod:block_name'.
    S:ritualMagneticModifiers <
        7;minecraft:iron_block
        15;minecraft:gold_block
        31;minecraft:diamond_block
        63;twilightforest:aurora_block
        127;twilightforest:castle_rune_brick
        255;enderio:block_alloy_endergy
     >

    # LP cost of operation.
    I:ritualPlacerCost=1

    # Ticks between operation.
    I:ritualPlacerDelay=1

    # Granted regeneration effect amplifier.
    I:ritualRegenerationAmplifier=9

    # Ticks between operation.
    I:ritualZephyrDelay=10

    # Defautl and maximum range of the ritual.
    I:ritualZephyrRadius=255

    # Amount of LP the Sacrificial Dagger should provide for each damage dealt.
    # Min: 0
    # Max: 10000
    I:sacrificialDaggerConversion=100

    # Declares the amount of LP gained per HP sacrificed for the given entity.
    # Setting the value to 0 will blacklist it.
    # Use the registry name of the entity followed by a ';' and then the value you want.
    # Vanilla entities do not require the modid.
    S:sacrificialValues <
        villager;100
        slime;15
        enderman;10
        cow;100
        chicken;100
        horse;100
        sheep;100
        wolf;100
        ocelot;100
        pig;100
        rabbit;100
        betteranimalsplus:badger;1500
        betteranimalsplus:badgerdirt;1500
        betteranimalsplus:blackbear;1500
        betteranimalsplus:boar;1500
        betteranimalsplus:bobbit_worm;1500
        betteranimalsplus:brownbear;1500
        betteranimalsplus:coyote;1500
        betteranimalsplus:crab;1500
        betteranimalsplus:deer;1500
        betteranimalsplus:eel_freshwater;1500
        betteranimalsplus:eel_saltwater;1500
        betteranimalsplus:feralwolf;1500
        betteranimalsplus:fox;1500
        betteranimalsplus:goat;1500
        betteranimalsplus:golden_goose_egg;1500
        betteranimalsplus:goose;1500
        betteranimalsplus:goose_egg;1500
        betteranimalsplus:hirschgeist;1500
        betteranimalsplus:horseshoecrab;1500
        betteranimalsplus:jellyfish;1500
        betteranimalsplus:kermodebear;1500
        betteranimalsplus:lammergeier;1500
        betteranimalsplus:lamprey;1500
        betteranimalsplus:moose;1500
        betteranimalsplus:nautilus;1500
        betteranimalsplus:pheasant;1500
        betteranimalsplus:pheasantegg;1500
        betteranimalsplus:reindeer;1500
        betteranimalsplus:shark;1500
        betteranimalsplus:songbird;1500
        betteranimalsplus:squirrel;1500
        betteranimalsplus:tarantula;1500
        betteranimalsplus:tarantulahair;1500
        betteranimalsplus:turkey;1500
        betteranimalsplus:turkeyegg;1500
        betteranimalsplus:walrus;1500
        betteranimalsplus:whale;1500
        betteranimalsplus:zotzpyre;1500
        emberroot:deers;1500
        iceandfire:firedragon;5000
        iceandfire:icedragon;5000
        iceandfire:if_cockatrice;3000
        quark:crab;1500
        quark:frog;1500
        rats:rat;1500
        twilightforest:bighorn_sheep;1500
        twilightforest:bunny;1500
        twilightforest:deer;1500
        twilightforest:penguin;2000
        twilightforest:raven;1500
        twilightforest:squirrel;2000
        twilightforest:tiny_bird;2000
     >

    # Will rewrite any default meteor types with new versions.
    # Disable this if you want any of your changes to stay, or do not want default meteor types regenerated.
    B:shouldResyncMeteors=false

    # Should mobs that die through the Well of Suffering Ritual drop items?
    B:wellOfSufferingDrops=true
}


